
body{
  background-image: url(../pic/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  width: 300px;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.37);
}
.BoxAdding{
  margin-left: 425px;
  margin-top: 200px;
}
.form-control{
  width: 100px;
}
.AddLable{
  position: relative;
    font-size: 30px;
    color: #a9c7dd;
    top: 3px;
    right: 14px;
}
.form-control{
  width: 237px;
  height: 24px;
}
#addButton{
  position: relative;
  top: -30px;
  right: -395px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
#todoList{
  position: absolute;
  top: 288px;
  right: 456px;
  width: 434px;
  height: 306px;
  /* background-color: #c91b1b; */
  list-style: none;
  overflow: overlay;
}
#todoList label{
  margin-right: 150px;
  font-size: 15px;
  font-size: 20px;
}
#todoList button{
  margin-right: 4px;
}
#addButton:hover{
  background-color: rgba(255, 255, 0, 0.596);
  border: none;
  padding: 5px;
}
/* #todoList li{
  border: 1px solid black;
  padding: 5px;
  margin: 4px;
  background-color: aqua;
  
} */
.completed{
  border: 1px solid black;
  padding: 5px;
  margin: 4px;
  background-color: rgba(102, 255, 0, 0.377);
  
}

#clearButton{
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 8px;
}
#clearButton:hover{
  background-color: rgba(255, 0, 0, 0.644);
}
.uncompleted{
  border: 1px solid black;
  padding: 5px;
  margin: 4px;
  background-color: orange;
  color: black;
  text-decoration: line-through;
}
.btnSuccess{
  /* background-color: rgb(192, 192, 192); */
  border: none;
  padding: 5px;
  cursor: pointer;
  border: 1px solid silver;
}
.btnSuccess:hover{
  background-color: rgba(0, 128, 0, 0.692);
  color: rgba(255, 0, 0, 0.726);
}
.btnDelet{
  border: none;
  padding: 5px;
  cursor: pointer;
  border: 1px solid orange;
}
.btnDelet:hover{
  background-color: orangered;
}
.EditBtn{
  border: none;
  padding: 5px;
  cursor: pointer;
  border: 1px solid peru;
}
.EditBtn:hover{
  background-color: peru;
}

/* #todoList label{
    width: 80%;
  }
  #todoList li{
    list-style-type: none;
  }
  .completed{
  
  }
  .uncompleted label{
    color: #afa7a7;
    text-decoration: line-through;
  }
  #todoList .btn{
    margin-left: 10px;
  } */