body {

    background-image: url("../step6--Todo/pic/new.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}


.clock {
    width: 190px;
    height: 74px;
    border: 3px solid slategrey;
    border-radius: 20px;
    background-color: #4caf503b;
    top: 27px;
    position: absolute;
    right: 48px;
    display: flex;
}

.clock .show_time {
    font-size: 40px;
    margin: 13px auto;
    display: block;
    font-family: monospace;
}

.show_date {
    font-size: 29px;
    color: #460f0f;
    position: absolute;
    bottom: -26px;
    right: 55px;
    border: 2px solid #3c5e1b;
    padding: 8px;
    border-radius: 10px;
    font-family: system-ui;
}

/************************ tble of job ************************/
.listJob {
    width: 787px;
    height: 413px;
    font-family:cursive;
    position: absolute;
    top: 127px;
    right: 49px;
}


.listJob div {
    border: 2px solid black;
    width: 31.5%;
    height: 127px;
    float: left;
    margin: 5px;
    overflow: overlay;
}
.listJob div:hover{
    border: 2px solid rgba(250, 9, 41, 0.836);
    background-color: #4ca3af44;
    
}
.result {
    width: 506px !important;
}

.result span {
    margin-left: 10px !important;

}

.listJob div span {
    margin: 6px 103px;
    color: rgb(136 65 195);
    font-size: 17px;
    font-weight: bold;
}

.performanceText {
    padding: 13px;
}

/*----------------------------add task-----------------------*/

.addNewTask {
    border: 2px solid darkblue;
    width: 392px;
    height: 250px;
    position: absolute;
    top: 19px;
    left: 21px;
    padding: 11px;
    background-color: rgb(107 189 176 / 10%);
}

.addNewTask input {
    height: 30px;
    width: 385px;
    padding: 3px;
    font-family: monospace;
}

.btnAddTask {
    display: block;
    width: 44%;
    height: 25%;
    font-size: 23px;
    margin: 8px auto;
    font-family: cursive;
}

.btnAddTask:hover {
    background-color: rgba(255, 166, 0, 0.274);
    border-radius: 15px;
    transition: all 2s;

}

.days {
    margin: 15px 143px;
    width: 113px;
    height: 31px;
    font-family: cursive;
}

.titleOfAddNewTask{
    margin-left: 138px;
    font-size: 22px;
    margin-left: 125px;
    font-size: 22px;
    font-family: cursive;
    color: brown;
}
.listJob div p input{
    margin-left: 9px;
}
.BtnDelete{
    margin-left: 4px;
    margin-right: 5px;
    height: 20px;
}
.BtnDelete:hover{
   border: 1px solid red;
   cursor: pointer;
}

/*-------- btn edit ---------*/
.DoneEdit{
    background-color: #b3e97e;
    border: none;
    cursor: pointer;
    margin-left: 2px;
}
.DoneEdit:hover{
    border: 1px solid #254902;
}

/*-------js ---------*/
.activeDay {
    background-color: rgba(89, 117, 37, 0.39);
}

.listJob div p {
    margin-left: 9px;
    /* margin-top: -20px; */
    font-size: 20px;
    opacity: 1 !important;
}
 .listJobi input {
    display: inline;
 }

 /* --------------today -------------------*/
 .today {
    position: absolute;
    bottom: 20px;
    right: 300px;
    font-family: sans-serif;
 }
.todayText{
    font-size: 24px;
    color: rgb(30, 93, 210);
}
.daysOfToday{
    font-size: 23px;
    color: rgb(210, 30, 75);
}


/*-----------------performance----------------*/

.partA{
    position: absolute;
    right: 0;
    top: 341px;
}
.partA button{
    /* margin-right: 20px; */
    margin-right: -6px;
    width: 124px;
    height: 33px;
    font-size: 15px;
}
.partA span{
   color: black !important;
   font-size: 25px !important;
}
#arzyabi:hover{
    background-color: aquamarine;
    padding: 3px;
    border: 2px solid seagreen;
    cursor: pointer;
    border-radius: 4px;
}
#resultShow{
    margin: 6px 40px !important;
    color: rgb(136 65 195);
    font-size: 17px;
    font-weight: bold;
}
/* new */ 
.bottomLine{
    height: 1px;
    background-color: black;
}
.shadow {
    box-shadow: 5px 10px 8px #888888;
   border-radius: 10px;
}
.mondayclass {
    overflow-y: hidden;
}

/* add new feautur */ /* add new feautur */ /* add new feautur */ 

/* ------------------my change ---------------*/
.showList {
    position: absolute;
    bottom: 24px;
    left: 31px;
    border: 1px solid #9b3535;
    padding: 9px;
    font: icon;
    cursor: pointer;
}
.showList:hover{
    background-color: #460f0f46;
}


/* ------------------my change END ---------------*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(17, 17, 17, 0.952); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-bottom : 27px;
    cursor: pointer;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }